*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background-color: rgb(240, 240, 240);
  font-family: Inter, "Segoe Ui", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header {
  margin-top: auto;
}

footer {
  font-family: monospace;
  margin-top: auto;
  padding-block: 1rem;
}

section.calculator-container form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#user-input {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  max-width: 80%;
}

.result-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: #000 0px 2px 4px;
  transition: all 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#result-notax,
#taxes p span {
  font-size: 1rem;
  font-weight: bold;
}

#result-tax {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

span {
  background-color: white;
  font-size: 1.5rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

#error-message {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
    }
